
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.zmwmspilzsexecrxkadn:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL= "postgresql://postgres.zmwmspilzsexecrxkadn:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
        
NEXT_PUBLIC_BASE_URL = "http://localhost:3000"

# Supabase
NEXT_PUBLIC_SUPABASE_URL = "https://zmwmspilzsexecrxkadn.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inptd21zcGlsenNleGVjcnhrYWRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk2ODc0MTMsImV4cCI6MjA1NTI2MzQxM30.wFG6Xjo2eoptF6ff0t5nIg02kJESZY2B7HoUrLV2BGQ"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inptd21zcGlsenNleGVjcnhrYWRuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczOTY4NzQxMywiZXhwIjoyMDU1MjYzNDEzfQ.jCXxLxa7iw1iWDgc8QmLznlRYqczGPaEgTHAthn01Hs"